<% if current_food_booker.favorited_by?(book.id) %>
<p>
  <%= link_to destroy_favorite_path(book), method: :DELETE, remote: true, class: "ml-3" do %>
  <span style="color: red">♥</span><%= book.favorites.count %>
  <% end %>
</p>
<% else %>
<p>
  <%= link_to create_favorite_path(book), method: :POST, remote: true, class: "ml-3" do %>
  <span style="color: gray">♥</span><%= book.favorites.count %>
  <% end %>
</p>
<% end %>