<div class="book-box">
  <% @books.each do |book| %>
    <%= link_to book_path(book.id) do %>
    <div class="book-image"><%= attachment_image_tag book, :image, fallback: "no_image.jpg", style: "width: 440px; height: 247.5px;" %></div>
    <section class="book-text">
      <strong class="item-name book-link-color py-2">料理名: <%= book.food_name %></strong>
    <% end %>
      <p><%= book.food_introduction %></p>
    </section>
  </div>
</div>
      