// Place all the styles related to the food_bookers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  margin: 0;
  padding: 0;
 }

.profile-item{
  text-align: center;
  border-bottom: thin solid #DDDDDD;
  background-color: #bdb76b;
}

.mybook{
  margin: 15px;
  text-align: right;
}

.mybook-name{
  margin: 15px 0;
}

.profile-edit{
  background-color: #bdb76b;
}

.profile-follow{
  background-color: #bdb76b;
}